@import helper._
@()(implicit request: RequestHeader, messages: Messages)

@main("Image Colorizer | Jayasurya Obbu") {

    <h1>Welcome to Image Colorizer </h1>

    @helper.form(action = routes.HomeController.imageColorizer, Symbol("enctype") -> "multipart/form-data") {
        @CSRF.formField
        <h3>Upload Black and White Image:</h3>
        <table>
            <tr>
                <td>
                    <label for="bwimage">Image: </label>
                </td>
                <td id="doc_label_input">
                    <input type="file" id="bwimage" name="bwtocolor" accept="image/*">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="@routes.Assets.versioned("images/photo.png")">
                </td>
            </tr>
        </table>
    }


}
